// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "custom";

div {
  margin: 0;
}

.category-index-text {
  margin: 0 auto 20px;
  text-align: center;
}

.new-category-btn {
  margin: 20px auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  background-color: #fff;
  box-shadow: (rgba(0, 0, 0, 0.3)0 0 2px );

  .category-color-wrapper {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .category-color{
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
  
  
  .category-content-wrapper {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 0; 

    .category-name {
      font-weight: bold;
    }

    .category-content {
      font-size: 0.8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #ccc;
    }

  }

}

.section-wrapper {

  .category-delete-btn {
    margin: 30px auto;
  }
}
