// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "custom.scss";




form {
  p {
    @include moderate(gray);
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }
  
  .standerd-btn {
    margin-top: 30px;
  }
}


// show
.setting-links {
  margin: 40px 0 20px 0;

  a:hover, a:focus {
    text-decoration: none;
  }

  .setting-link-wrapper{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .setting-link {
      font-size: 1.2em;
      position: relative;
      text-align: start;
    }

    .angle{
      color: #ccc;
    }
  }
}
