// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "custom.scss";




form {
  .sub-info {
    @include moderate(gray);
    font-size: 0.8em;
    // margin-bottom: 10px;
  }

  input {
    width: 100%;
  }
  
  .standerd-btn {
    margin-top: 30px;
  }
}


// show
.setting-links {
  // margin: 40px auto 20px;
  // max-width: 576px;

  a:hover, a:focus {
    text-decoration: none;
  }

  .setting-link-wrapper{
    border-bottom: 1px solid $standard-gray;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;


    .setting-link {
      font-size: 1.2em;
      text-align: start;
      margin: 5px;
    }

    .angle{
      color: $standard-gray;
      margin-right: 5px;
    }
  }
}


// edit

.section-wrapper {
  margin: 10px auto ;
  padding: 10px;
  border-bottom: 1px solid $standard-gray;

  h2 {
    margin: 0 0 10px 0;
    text-align: left;
    font-weight: bold;
  }
}

.danger-btn {
  @include btn-shape(red);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  &:hover{
    opacity: 1;
  }
}