<div class="paginate">
  <%= link_to stats_year_ajax_path(year: @year.prev_year),class: "prev_year", remote: true do %>
  <i class="fas fa-angle-double-left"></i>
  <% end %>
  <span><%= @year.year %>年</span>
  <%= link_to stats_year_ajax_path(year: @year.next_year),class: "next_year", remote: true  do %>
  <i class="fas fa-angle-double-right"></i>
  <% end %>
</div>