// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//  new

.form-label-set {
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  label {
    width: 15%;
    margin: 3px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  select {
    width: 80%;
    height: 30px;
    font-size: 0.9rem;
    padding: 0.1rem 2rem 0.1rem 0.3rem;
  }
}

.post-section-wrapper {
  margin: 0;

  .post-form {
    &>div {
      margin-bottom: 15px;
    }
    
    .small-sub-wrapper {
      display: flex;
      justify-content: space-between;
      
      div:first-of-type {
        margin-right: 10px;
      }
    }

    .btn {
      margin-top: 0;
    }
  }
}


.large-sub-wrapper {

  .form-control {
    padding: 0.1rem 0.3rem;
  }
    
}


.price-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;

  label {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin: 0;
  }
  
  p {
    width: 80%;
    margin: 0;
    height: 56px;
    text-align: right;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
  }
}


// calculator
.calculator {
  background-color: #333;
  width: 100vw;
  position: fixed;
  bottom: 50px;
  right: 0;
  margin: 0;
}



.btn_box{
  margin: 10px 20px;

  .row {
    margin: 0;
  }

  button{
    margin: 3px;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    &:hover{
        cursor: pointer;
    }

    .ac_btn{
      color: #ddddff;
    }
  }
}


// index

main > p.alert-post {
  margin: 125px 0 -125px 0;
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}


@mixin section-wrapper {
  width: 92vw;
  max-width: 768px;
  position: fixed;
  padding: 0px;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
} 


.post-index-header-section{
  @include section-wrapper();
  width: 100vw;
  margin: 1px auto;
  top: 50px;
  
  #month_info {
    margin: 0;
    
    .paginate {
      display: flex;
      justify-content: space-evenly;
      margin: 8px auto;
    }  
    
  }
  
  .post-index-head {
    width: 90vw;
    margin: 8px auto;
    padding: 2px 0px;
    max-width: 768px;
    margin: 0 auto;
  
    .narrow_down_select {
      font-size: 0.9rem;
      padding: 2px 10px 2px 2px;
      box-shadow: rgb(0 0 0 / 30%) 0 0 2px;
      border: none;
      border-radius: 4px;
      width: 16.6666%;
      background-position: right 0.25rem bottom 0.25rem;
      background-size: 8px;
    }
  }
}



.post-index-main-section {
  margin: 85px 0 60px 0;
  padding: 0px;
  top: 130px;
  right: 0;
  width: 100%;
  border: none;
  
  .card {
    margin: 10px auto;
    padding: 7px;
    
    .category-name {
      font-size: 8px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .post-content {
      font-size: 0.9em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #555;
    }
    
    .user-name {
      font-size: 0.9em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
    }
  }

}


.post-index-lower-section {
  @include section-wrapper();
  margin: 0px auto;
  bottom: 50px;
  border-top: 1px solid #ccc;
  border-bottom: none;
}


// edit

.post-btn-wrapper {
  display: flex;

  .standerd-btn {
    margin-right: 20px;
  }
}


// stat

.stat-table {
  font-size: 0.9rem;

  li {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
}