// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "posts";

// month
.pie-chart-text {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 190px;
}


#chart-1 {
  margin: -25px auto 15px;
}

.transparent {
  opacity: 0.5;
}

.table-title {
  margin: 20px auto;
  text-align: center;
}

.stat-table {
  font-size: 0.9rem;

  .stat-table-head {
    border: none;
    margin-bottom: 5px;
  }

  .total-sum {
    font-weight: bold;
    border-bottom: 2px solid;
    margin-bottom: 10px;
  }

  li {
    text-align: right;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    span:first-child {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


// year

#bar_chart {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin: 0px auto;

  li {
    span {
      font-size: 0.8rem;
    }

    .span-head {
      width: 5%;
    }

    .span-data {
      width: 7.9%;
    }
  }

  .post-sum {
    margin-top: 20px;
  }

  .remainder {
    font-weight: bold;
    margin-top: 20px;
  }
  
}


@media screen and (max-width: 768px) {
  #bar_chart {

    #chart-1 {
      width: 970px !important;
      margin-left: 17px !important;
    }

    .stat-table {
      width: 970px;

    }
  }
}

@media screen and (min-width: $wrapper-max-width) {
  #bar_chart {

    #chart-1 {
      width: $wrapper-max-width !important;
    }

    .stat-table {
      width: $wrapper-max-width;

    }
  }
}


