<!-- Modal  button--> 
<div class="w-100 d-flex justify-content-end mb-1">
  <button type="button" class="btn btn-outline-secondary modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    hint
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">金額入力のコツ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <h6 class="fw-bold">【スマートフォンでお使いの場合】</h6>
          <li>画面下半分の電卓をタップして金額を記入してください。
            <br></li>

          <h6 class="fw-bold">【PC・タブレットでお使いの場合】</h6>
          <li>画面下半分の電卓をクリックして金額を記入することも可能です</li>
          <li>加えて、PC・タブレットのキーボードから金額記入が可能です。
          <br>その場合、他の項目（項目名や日付など）からカーソルを外したうえで数字キーやテンキーを押してみてください。
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>