<section class="section-wrapper">
  <h2>404 page not found</h2>
  <div class="d-flex justify-content-between m-0">
    <div class="col-2 m-0 d-flex align-items-center justify-content-end">
      <%= image_pack_tag "media/images/kawauso.png", size:"60x60", alt:"カワウソくん" %>
    </div>
    <div class="col-9 m-0  d-flex align-items-center balloon-left">
      <p class="m-0 lh-sm tips">お探しのpageは見つかりませんでした...。</p>
    </div>
  </div>

</section>