<span class="date col-2">
  <i class="fas fa-calendar-alt"></i>
</span>
<%= narrow_down_select("category", @relationship.categories, @month) %>
<%= select_tag "price" , options_for_select({ 支出: "post", 収入: "income"}, selected: params[:price]), 
                            {class: 'form-select narrow_down_select col-3',
                            data: { remote: true,
                                    url: posts_narrow_down_path(month: @month) }} %>
<span class="content col-3">
  <i class="fas fa-pencil-alt"></i>
</span>
<%= narrow_down_select("user", @relationship.users, @month) %>