<%= provide(:title, "記録の一覧") %>
<section class="section-wrapper post-index-header-section">
  <div id="month_info">
    <%= render partial: 'month_info' %>
  </div>
</section>
<section class="section-wrapper post-index-main-section">
  <div id="post_list">
    <%= render partial: 'post', collection: @posts %>
  </div>
</section>
<section class="section-wrapper post-index-lower-section">
  <div id="price_sum">
    <%= render partial: 'price_sum' %>
  </div>
</section>