<%= provide(:title, "月毎の合計") %>
<section class="section-wrapper post-index-header-section">
  <div id="month_info">
    <%= render partial: 'month_stat_month_info' %>
  </div>
</section>
<section class="section-wrapper post-index-main-section">
  <div id="pie_chart_and_table">
    <%= render partial: 'pie_chart_and_table' %>
  </div>
</section>
