<p><%= @user.name %>（<%= @user.email %>）さん、こんにちは。</p>

<p>家計簿アプリ「キョウドウコウザ」に仮登録いただき、ありがとうございます。</p>

<p>下記のURLをクリックして、本登録を完了させてください。</p>
<%= link_to "本登録はこちら", edit_account_activation_url(@user.activation_token,　email: @user.email) %>

<p>
※このメールにお心あたりがない場合は、そのまま削除してください。<br>
（本メールへの返信は受け付けておりません）
</p>
<br>
<p>
=============================<br>
▼送信元<br>
家計簿アプリ「キョウドウコウザ」<br>
https://kyodokoza.herokuapp.com/<br>
=============================<br>
</p>
