<p><%= @user.name %>（<%= @user.email %>）さん、こんにちは。</p>

<p>こちらのメールは、家計簿アプリ「キョウドウコウザ」のパスワード変更メールです。</p>

<p>下記のURLをクリックして、パスワード変更フォームにお進みください。</p>
<%= link_to "パスワード変更はこちら", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
※このメールにお心あたりがない場合は、そのまま削除してください。<br>
（本メールへの返信は受け付けておりません）
</p>
<br>
<p>
=============================<br>
▼送信元<br>
家計簿アプリ「キョウドウコウザ」<br>
http://www.kyodokoza.com/<br>
=============================<br>
</p>
