<footer>
  <nav class="nav footer-nav position-fixed bottom-0">
    <%= link_to "一覧", "#", class: "nav-link" %>
    <%= link_to "合計", "#", class: "nav-link" %>
    <%= link_to "記録", "#", class: "nav-link" %>
    <%= link_to "使い方", "#", class: "nav-link" %>
  </nav>
</footer>