<footer>
  <nav class="nav footer-nav position-fixed bottom-0">
    <%= link_to "#", class: "nav-link" do%>
      <i class="fas fa-list-ul"></i>
      <p>一覧</p>
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <i class="fas fa-chart-pie"></i>
      <p>合計</p>
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <i class="fas fa-lg fa-pencil-alt"></i>
      <p>記録</p>
    <% end %>
    <%= link_to "#", class: "nav-link" do %>
      <i class="fas fa-question"></i>
      <p>使い方</p>
    <% end %>
  </nav>
</footer>