<footer>
  <nav class="nav footer-nav position-fixed bottom-0">
    <a href="#" class="nav-link">一覧</a>
    <a href="#" class="nav-link">合計</a>
    <a href="#" class="nav-link">記録</a>
    <a href="#" class="nav-link">使い方</a>
  </nav>
</footer>