<header>
  <nav class="nav header-nav">
    <%# <%= link_to "キョウドウコウザ!!", root_path, id: "logo", class: "logo" %> %>
    <%= link_to root_path, id: "logo", class: "logo" do %>
      キョウドウ<br>コウザ!!
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "設定", "#" %>
      </li>
    </ul>
  </nav>

  <div class="container">
    <h1>"キョウドウコウザ!!"とは</h1>
  </div>
</header>