<header class="position-fixed top-0">
  <nav class="nav header-nav">
    <a href="#" class="logo">キョウドウ<br>コウザ!!</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">設定</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <h1>"キョウドウコウザ!!"とは</h1>
  </div>
</header>