<%= provide(:title, "家族の情報") %>

<section class="section-wrapper">
  <h2>あばばばば</h2>
  <div class="container">
    <p>1. ご本人とパートナー、お二人とも会員登録をお済ませください</p>
    <p>2. 「招待コード作成」から、招待コードを確認してください</p>
    <p>3. 招待コードをパートナーに通知し、パートナーの方は通知された招待コードを「招待コード入力」の入力欄にご入力ください</p>
    <p>4. パートナーの方は家族名をご入力の上、「接続する」をタップしてください</p>
  </div>
</section>