<%= provide(:title, "家族の情報") %>

<section class="section-wrapper">
  <div class="container">
  <table>
  <tr><th>家族：</th><td><%= @relationship.name %></td></tr>
  <tr><th>家族の登録日:</th><td><%= l @relationship.created_at, format: :date %></td></tr>
  <tr><th>名前：</th>
  <% @users.each do |user| %>
    <td><%= user.name %></td>
  <% end %>
  </table>

  </div>
</section>
