<%= provide(:title, "ようこそ") %>

<% unless logged_in? %>
<section class="section-wrapper btn-wrapper">
  <p class="text-center">まずは、つかってみよう！</p>
  <%= link_to "会員登録へ", "/signup", class: "btn standerd-btn btn-primary" %>
  <%= link_to  "/login", class: "btn standerd-btn btn-primary" do %>
  登録済みの方はこちら<br>（ログイン）
  <% end %>
  <%= link_to  guest_sign_in_path, class: "btn standerd-btn btn-primary" do %>
  機能の確認はこちら<br>（ゲストログイン）
  <% end %>
</section>
<% end %>

<section class="section-wrapper">
  <div class="blue-back">
    <h2>「キョウドウコウザ!!」とは？</h2>
    <p>ありそうでない、<br>「共同口座専用の家計簿アプリ」です。</p>
    <div class="example">
      <p>※そもそも「共同口座」って何？</p>
      <p>例）共働きの夫と妻で3つの銀行口座で家計を運用<br>（「夫の口座」「妻の口座」「共同口座」）</p>
      <p>【月初】「夫の口座」「妻の口座」から「共同口座」に20万円ずつ入金</p>
      <p>【日々の支払】夫が使った分は「夫の口座」から支払い、家計簿に記録。妻が使った分は「妻の口座」から支払い、家計簿に記録。</p>
      <p>【月末】夫が1か月に支払った合計を共同口座から補填。妻が1か月に支払った合計を共同口座から補填。</p>
    </div>
    <p>つまり、共同口座を使えば...</p>
    <p>『それぞれの個人のお金は確保しながら、家計を計画的に運用できる！』</p>
    <p>『夫婦2人で家計を管理するから、協力できる！』</p>
  </div>
</section>

<section class="section-wrapper">
  <div class="blue-back">
    <h2>使い方</h2>
    <p>まずは2人で会員登録♪</p>
    <p>お金を使ったら各々が記録♪ 家計管理は夫婦の大切な共同作業♪</p>
    <p>「夫」「妻」「その他固定費」等、グループ分けできるから管理がラクラク♪</p>
    <p>「エクセル出力」でまとまった情報を確認♪</p>
    <p>決まった日時に、経過をLINE通知♪</p>
  </div>
</section>
